body {
    background-image: url('../images/connectwork.png');
}
.container {
    background-color: rgba(256,256,256,.85);
    height:100%;
    min-height: 100vh;
}
.heading {
    text-align:center;
    color:black;
}
.buttons {
    background-color: rgb(25, 171, 228);
    color:white;
    font-size:20px;
    font-weight:600;
    border:none;
    border-radius:5px;
    padding:15px 30px;
    margin:10px;
}
.buttons:hover {
    background-color:rgb(25, 228, 176);
    cursor:pointer;
}
.buttons:focus {
    background-color:rgb(25, 228, 176);
    cursor:pointer;
}
#buttonContainer {
    text-align:center;
}
#user-input {
    widows: 100px;
    display:inline-block;
}
#more-gifs {
    display:none;
    background-color: rgb(25, 171, 228);
    padding:10px 20px;
    color:white;
    border:none;
    border-radius:5px;
    margin-left:10px;
}
#more-gifs:hover    {
        background-color:rgb(25, 228, 176);
        cursor:pointer;
}

#submit {
    background-color: rgb(25, 171, 228);
    padding:10px 20px;
    color:white;
    border:none;
    border-radius:5px;
    margin-left:10px;
}
#submit:hover {
    background-color:rgb(25, 228, 176);
    cursor:pointer;  
}
.favorites {
    background-color: rgb(25, 171, 228);
    padding:10px 20px;
    color:white;
    border:none;
    border-radius:5px;
    margin-left:10px;
}
.favorites:hover {
    background-color:rgb(25, 228, 176);
    cursor:pointer; 
}
#favoritesButton {
    width:200px;
    margin: 0 auto;
    text-align:center;
}
#viewFavorites {
    background-color: #cc0000;
    padding:10px 20px;
    color:white;
    border:none;
    border-radius:5px;
    width:200px;
    margin: 0 auto;
}
#viewFavorites:hover {
    background-color:#7f0000;
    cursor:pointer; 
}
form {
    text-align:center;
    margin:15px auto 20px auto;
}
.gifDiv {
    display:inline-block;
    margin:15px;
    text-align: center;
}
.gifDiv:hover {
    border: 5px solid teal;
    margin:10px;
    cursor:pointer;
}
#moregifs {
    text-align:center;
}