.buttons {
    margin-left:20px;
}
.gif-images {
    margin:20px;
}
.gif-images:hover {
    cursor:pointer;
    border: 5px solid lightseagreen; 
}
.buttons {
    background-color: rgb(25, 171, 228);
    color:white;
    font-size:20px;
    font-weight:600;
    border:none;
    border-radius:5px;
    padding:15px 30px;
}
.buttons:hover {
    background-color:rgb(25, 228, 176);
    cursor:pointer;
}
#buttonDiv {
    text-align:center;
}
.buttons:nth-child(1) {
    margin-left:0px;
}