.buttons {
    margin-left:20px;
}
.buttons {
    background-color: rgb(25, 171, 228);
    color:white;
    font-size:20px;
    font-weight:600;
    border:none;
    border-radius:5px;
    padding:15px 30px;
    margin:10px;
}
.buttons:hover {
    background-color:rgb(25, 228, 176);
    cursor:pointer;
}
.buttons:focus {
    background-color:rgb(25, 228, 176);
    cursor:pointer;
}
#buttonContainer {
    text-align:center;
}
#user-input {
    widows: 100px;
    display:inline-block;
}
#submit {
    background-color: rgb(25, 171, 228);
    padding:10px 20px;
    color:white;
    border:none;
    border-radius:5px;
    margin-left:10px;
}
#submit:hover {
    background-color:rgb(25, 228, 176);
    cursor:pointer;  
}
form {
    text-align:center;
    margin:25px auto 20px auto;
}
.gifDiv {
    float:left;
    margin:15px;
    text-align: center;
}
.gifDiv:hover {
    border: 5px solid teal;
    margin:10px;
    cursor:pointer;
}